.btn-theme{
    background-color: #9F0C40;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-theme:hover{
    background-color: #9F0C40;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-theme-border{
    background-color:white;
    border: 1px solid #9F0C40;
    border-radius: 7px;
    color: #9F0C40;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-theme-border:hover{
    background-color:white;
    border: 1px solid #9F0C40;
    border-radius: 7px;
    color: #9F0C40;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}


.btn_theme{
    background-color: #9F0C40;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn_theme:hover{
    background-color: #9F0C40;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
}

.btn_theme-border{
    background-color:white;
    border: 1px solid #9F0C40;
    border-radius: 7px;
    color: #9F0C40;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn_theme-border:hover{
    background-color:white;
    border: 1px solid #9F0C40;
    border-radius: 7px;
    color: #9F0C40;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}



input[type="search"]{
    background-color :black; 
  }
.nav-link{
    color:white;
}
.register_body{
    background:url('../img/bg-register.png');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

  .lagend{
    background: white;
    opacity: 0.8;
}
.admindash{
    background-color: #F7F5F6;
}
.boxer{
    box-shadow: 2px 2px #808080;
    border-radius: 15px;
}
.boxer1{
    box-shadow: 2px 2px 2px 2px #808080;
    border-radius: 15px;
}
.boxer2{
    box-shadow: 0px 2px 2px 2px #808080;
    border-radius: 15px;
}
.h1{
    color:#808080;
}
.h2{
    color:#808080;
}
.h3{
    color:#808080;
}
.h4{
    color:#808080;
}
.h5{
    color:#808080;
}
.h6{
    color:#808080;
}
.p{
    color:#808080;
}
.sidebar{
    background-color: #9F0C40 ;
    height: 100%;
    position: relative;
}
.profile-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.profile-image1{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile-image2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.profile-image1:hover{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.hr{
    border: 1px solid white;
    width: 99%;
}
.hro{
    border: 1px solid white;
    width: 80%;
}
.hr2{
    border: 1px solid #9F0C40;
    width: 80%;
}
.hr3{
    border: 1px solid silver;
    width: 80%;
}
.hr4{
    color: black;
    width: 100%;
}
.side-link{
    text-decoration:none;
}
.side-link:hover{
    text-decoration: none;
}
.sideimg{
    margin-left: 25px;
    float: left;
}
.nav-side{
    margin-left: 30px;
    margin-top: 30px;
    color: white;
}
.nav-side:hover{
    color: #808080;
}
.make-it-slow {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  /* Transition to a bigger shadow on hover */
  .make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  .chat-modal{
    position: fixed;
    bottom: 10px;
    color:#9F0C40;
    cursor: pointer;
  }
  .chat-modal1{
    cursor: pointer;
  }
  .chat-modal2{
    cursor: pointer;
  }
  .chat-modal:hover{
    position: fixed;
    bottom: 10px;
    color:#9F0C40;
    cursor: pointer;
  }
 .chat-div{
    position: fixed;
    bottom: 80px;
    background-image: linear-gradient(to bottom right,#96BDB5, #39C8D7, #36B8E9);
     border: 1px solid black;
     width: 250px;
     height: 300px;
     overflow-y: auto;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     overflow-x: hidden;
 }
a:hover{
text-decoration: none;
}
 #chat_ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
 }
.user_click{
    cursor: pointer;
}

.inline_para{
    text-align: justify; 
    text-justify: inter-word;
}
.other{
    background: #b9c9c1;
}
.me{
    background: #e7eeee;
}
.image-upload>input {
    display: none;
  }
  .sender{
    background: white;
    position: sticky;
    bottom: 0;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#img-select{
    cursor: pointer;
}
div.chatbox{
    height: 500px;
    overflow-y: auto;
}
div.chatbox2{
    height: 500px;
    overflow-y: auto;
}
.imager{
    border: 1px solid silver;
    cursor: pointer;
    color: silver;
    border-radius: 10px;
    height: 100px;
}
.pop_up_data{
    text-align: justify;
  text-justify: inter-word;
}
.buyer_body{
    background-color: #F9F9F9;
}

.StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;}

    .chater:hover{
        border: 1px solid;
        box-shadow: 0px 5px #90a8c2;
    }
    .thumbnail{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;;
    }
    .active{
        background-color: #e4dcdc;
    }
    #active:hover{
        background-color: #F5F5F5;
    }
    .chat_user{
        margin-top: 15px;
    }
    .dot {
        text-align: center;
        margin-top: 10px;
        height: 25px;
        width: 25px;
        background-color: rgb(64, 235, 64);
        border-radius: 50%;
        display: inline-block;
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
      }
      
      .switch input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      .footList{
          list-style: none;
      }
      .li_item{
          margin-top: 10px;
      }
      .icon_foot{
          border-radius: 50%;
          background: gray;
      }